Repository dhilgart/NCAA_eval: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-smoke

mypy:
  name: mypy-strict
  entry: poetry run mypy
  args:
  - --strict
  - --show-error-codes
  - --namespace-packages
  language: system
  pass_filenames: false

pytest-smoke:
  name: pytest-smoke
  entry: poetry run pytest -m smoke --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - commit

docs(simulation): add 'how' to compute_bracket_distribution and score_bracket_against_sims
  src/ncaa_eval/evaluation/simulation.py
Due: mypy, pytest-smoke

Story 8.1: decompose simulation.py, filters.py, and run_training() God Function (#48)
  _bmad-output/implementation-artifacts/8-1-code-architecture-cleanup-simulation-module-split.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  _bmad/bmm/workflows/4-implementation/code-review/instructions.xml
  dashboard/app.py
  dashboard/lib/data_loaders.py
  dashboard/lib/export.py
  dashboard/lib/filters.py
  dashboard/lib/simulation_helpers.py
  dashboard/pages/1_Lab.py
  dashboard/pages/2_Presentation.py
  dashboard/pages/3_Model_Deep_Dive.py
  dashboard/pages/4_Pool_Scorer.py
  dashboard/pages/home.py
  docs/api/ncaa_eval.evaluation.bracket.rst
  docs/api/ncaa_eval.evaluation.providers.rst
  docs/api/ncaa_eval.evaluation.rst
  docs/api/ncaa_eval.evaluation.scoring.rst
  docs/tutorials/custom-metric.md
  src/ncaa_eval/cli/train.py
  src/ncaa_eval/evaluation/__init__.py
  src/ncaa_eval/evaluation/bracket.py
  src/ncaa_eval/evaluation/providers.py
  src/ncaa_eval/evaluation/scoring.py
  src/ncaa_eval/evaluation/simulation.py
  tests/unit/test_dashboard_app.py
  tests/unit/test_dashboard_filters.py
Due: mypy, pytest-smoke

docs(story): create story 8.2 — Expose Public APIs & Eliminate Private Attribute Access
  _bmad-output/implementation-artifacts/8-2-expose-public-apis-eliminate-private-attribute-access.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

refactor(api): expose public APIs, eliminate private attribute access (Story 8.2)
  dashboard/lib/data_loaders.py
  src/ncaa_eval/evaluation/providers.py
  src/ncaa_eval/evaluation/splitter.py
  src/ncaa_eval/model/base.py
  src/ncaa_eval/model/elo.py
  src/ncaa_eval/model/xgboost_model.py
  src/ncaa_eval/transform/__init__.py
  src/ncaa_eval/transform/calibration.py
  src/ncaa_eval/transform/elo.py
  src/ncaa_eval/transform/feature_serving.py
  src/ncaa_eval/transform/serving.py
  tests/unit/test_dashboard_filters.py
  tests/unit/test_evaluation_simulation.py
  tests/unit/test_evaluation_splitter.py
  tests/unit/test_model_elo.py
Due: mypy, pytest-smoke

docs(story): complete story 8.2 — mark review, update tasks/file list
  _bmad-output/implementation-artifacts/8-2-expose-public-apis-eliminate-private-attribute-access.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

refactor(api): code review fixes — feature name persistence, DRY, public API (Story 8.2)
  _bmad-output/implementation-artifacts/8-2-expose-public-apis-eliminate-private-attribute-access.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/lib/data_loaders.py
  src/ncaa_eval/model/elo.py
  src/ncaa_eval/model/xgboost_model.py
  tests/unit/test_model_base.py
Due: mypy, pytest-smoke

test(api): code review fixes — test_elo.py public API & legacy fallback tests (Story 8.2)
  _bmad-output/implementation-artifacts/8-2-expose-public-apis-eliminate-private-attribute-access.md
  _bmad-output/planning-artifacts/template-requirements.md
  tests/unit/test_dashboard_filters.py
  tests/unit/test_elo.py
  tests/unit/test_model_elo.py
Due: mypy, pytest-smoke

refactor(api): expose public APIs, eliminate private attribute access (Story 8.2) (#49)
  _bmad-output/implementation-artifacts/8-2-expose-public-apis-eliminate-private-attribute-access.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/data_loaders.py
  src/ncaa_eval/evaluation/providers.py
  src/ncaa_eval/evaluation/splitter.py
  src/ncaa_eval/model/base.py
  src/ncaa_eval/model/elo.py
  src/ncaa_eval/model/xgboost_model.py
  src/ncaa_eval/transform/__init__.py
  src/ncaa_eval/transform/calibration.py
  src/ncaa_eval/transform/elo.py
  src/ncaa_eval/transform/feature_serving.py
  src/ncaa_eval/transform/serving.py
  tests/unit/test_dashboard_filters.py
  tests/unit/test_elo.py
  tests/unit/test_evaluation_simulation.py
  tests/unit/test_evaluation_splitter.py
  tests/unit/test_model_base.py
  tests/unit/test_model_elo.py
Due: mypy, pytest-smoke

deploy: b6a3481ec1c8ed423901b2a46796e2a82b75e5ed
  .doctrees/api/ncaa_eval.evaluation.doctree
  .doctrees/api/ncaa_eval.evaluation.providers.doctree
  .doctrees/api/ncaa_eval.evaluation.simulation.doctree
  .doctrees/api/ncaa_eval.model.base.doctree
  .doctrees/api/ncaa_eval.model.doctree
  .doctrees/api/ncaa_eval.model.xgboost_model.doctree
  .doctrees/api/ncaa_eval.transform.calibration.doctree
  .doctrees/api/ncaa_eval.transform.doctree
  .doctrees/api/ncaa_eval.transform.elo.doctree
  .doctrees/environment.pickle
  _modules/ncaa_eval/evaluation/providers.html
  _modules/ncaa_eval/evaluation/splitter.html
  _modules/ncaa_eval/model/base.html
  _modules/ncaa_eval/model/elo.html
  _modules/ncaa_eval/model/xgboost_model.html
  _modules/ncaa_eval/transform/calibration.html
  _modules/ncaa_eval/transform/elo.html
  _modules/ncaa_eval/transform/feature_serving.html
  _modules/ncaa_eval/transform/serving.html
  api/ncaa_eval.evaluation.html
  api/ncaa_eval.evaluation.providers.html
  api/ncaa_eval.evaluation.simulation.html
  api/ncaa_eval.html
  api/ncaa_eval.model.base.html
  api/ncaa_eval.model.html
  api/ncaa_eval.model.xgboost_model.html
  api/ncaa_eval.transform.calibration.html
  api/ncaa_eval.transform.elo.html
  api/ncaa_eval.transform.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

docs(story): create story 8.3 — Fix Data Pipeline Resilience & ESPN Error Handling
  _bmad-output/implementation-artifacts/8-3-fix-data-pipeline-resilience-espn-error-handling.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

fix(ingest): add ESPN retry logic, decouple SyncEngine from Typer, generalize dedup (Story 8.3)
  _bmad-output/implementation-artifacts/8-3-fix-data-pipeline-resilience-espn-error-handling.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  poetry.lock
  pyproject.toml
  src/ncaa_eval/ingest/connectors/espn.py
  src/ncaa_eval/ingest/fuzzy.py
  src/ncaa_eval/ingest/repository.py
  src/ncaa_eval/ingest/sync.py
  src/ncaa_eval/transform/serving.py
  sync.py
  tests/integration/test_sync.py
  tests/unit/test_chronological_serving.py
  tests/unit/test_espn_connector.py
  tests/unit/test_fuzzy.py
Due: mypy, pytest-smoke

fix(ingest): code review fixes — fetch summary count, iterrows, retry test speed (Story 8.3)
  _bmad-output/implementation-artifacts/8-3-fix-data-pipeline-resilience-espn-error-handling.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  src/ncaa_eval/ingest/connectors/espn.py
  src/ncaa_eval/ingest/fuzzy.py
  tests/unit/test_espn_connector.py
Due: mypy, pytest-smoke

fix(tests): code review pass 2 — regression test for None-return, fix vacuous assertion (Story 8.3)
  _bmad-output/implementation-artifacts/8-3-fix-data-pipeline-resilience-espn-error-handling.md
  _bmad-output/planning-artifacts/template-requirements.md
  tests/unit/test_espn_connector.py
  tests/unit/test_fuzzy.py
Due: mypy, pytest-smoke

fix(ingest): add ESPN retry logic, decouple SyncEngine from Typer, generalize dedup (Story 8.3) (#50)
  _bmad-output/implementation-artifacts/8-3-fix-data-pipeline-resilience-espn-error-handling.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  poetry.lock
  pyproject.toml
  src/ncaa_eval/ingest/connectors/espn.py
  src/ncaa_eval/ingest/fuzzy.py
  src/ncaa_eval/ingest/repository.py
  src/ncaa_eval/ingest/sync.py
  src/ncaa_eval/transform/serving.py
  sync.py
  tests/integration/test_sync.py
  tests/unit/test_chronological_serving.py
  tests/unit/test_espn_connector.py
  tests/unit/test_fuzzy.py
Due: mypy, pytest-smoke

deploy: 531bc7ee88019cd122e14c8c223f95fa8a54d7dd
  .doctrees/environment.pickle
  _modules/ncaa_eval/ingest/connectors/espn.html
  _modules/ncaa_eval/ingest/repository.html
  _modules/ncaa_eval/ingest/sync.html
  _modules/ncaa_eval/transform/serving.html
Due: none

docs(story): create story 8.4 — fix docstring style violations & documentation gaps
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(docstrings): auto-fix D416 and D411 violations (Story 8.4, Task 1)
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src/ncaa_eval/evaluation/metrics.py
  src/ncaa_eval/ingest/connectors/base.py
  src/ncaa_eval/model/elo.py
  src/ncaa_eval/model/tracking.py
  src/ncaa_eval/model/xgboost_model.py
  src/ncaa_eval/transform/calibration.py
  src/ncaa_eval/transform/elo.py
  src/ncaa_eval/transform/feature_serving.py
Due: mypy, pytest-smoke

docs(docstrings): convert NumPy-style docstrings to Google style (Story 8.4, Task 2)
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  src/ncaa_eval/evaluation/metrics.py
  src/ncaa_eval/model/base.py
  src/ncaa_eval/model/elo.py
  src/ncaa_eval/model/tracking.py
  src/ncaa_eval/transform/elo.py
Due: mypy, pytest-smoke

docs(docstrings): add missing Returns section to _resolve_team_id (Story 8.4, Task 3)
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  src/ncaa_eval/ingest/connectors/espn.py
Due: mypy, pytest-smoke

docs(docstrings): fix D107 violations — __init__ docstrings (Story 8.4, Task 4)
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  pyproject.toml
  src/ncaa_eval/model/elo.py
  src/ncaa_eval/model/logistic_regression.py
  src/ncaa_eval/model/xgboost_model.py
Due: mypy, pytest-smoke

docs(docstrings): fix D102 violations — add missing public method docstrings (Story 8.4, Task 5)
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  src/ncaa_eval/ingest/repository.py
  src/ncaa_eval/model/logistic_regression.py
  src/ncaa_eval/transform/calibration.py
Due: mypy, pytest-smoke

docs(docstrings): add detailed descriptions to 28 noncompliant functions (Story 8.4, Task 6)
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  src/ncaa_eval/cli/main.py
  src/ncaa_eval/evaluation/metrics.py
  src/ncaa_eval/evaluation/providers.py
  src/ncaa_eval/evaluation/simulation.py
  src/ncaa_eval/ingest/connectors/espn.py
  src/ncaa_eval/ingest/connectors/kaggle.py
  src/ncaa_eval/model/base.py
  src/ncaa_eval/model/elo.py
  src/ncaa_eval/model/tracking.py
  src/ncaa_eval/transform/elo.py
  src/ncaa_eval/transform/feature_serving.py
  src/ncaa_eval/transform/opponent.py
Due: mypy, pytest-smoke

docs(config): enable D-rule enforcement, remove D1 ignore (Story 8.4, Task 7)
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  pyproject.toml
  tests/integration/test_elo_integration.py
  tests/unit/test_evaluation_metrics.py
  tests/unit/test_kaggle_connector.py
Due: mypy, pytest-smoke

docs: fix tutorial output, add troubleshooting & license, fix sliders warning (Story 8.4, Tasks 8-12)
  README.md
  dashboard/app.py
  docs/tutorials/getting-started.md
  docs/user-guide.md
Due: pytest-smoke

docs(story): mark story 8.4 complete — all tasks done, quality gates pass
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

fix(docstrings): convert remaining NumPy-style docstrings found in code review (Story 8.4)
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  dashboard/app.py
  src/ncaa_eval/model/xgboost_model.py
  src/ncaa_eval/transform/calibration.py
  src/ncaa_eval/transform/feature_serving.py
Due: mypy, pytest-smoke

docs(story): mark story 8.4 done — code review complete, all issues fixed
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(template): add Story 8.4 addendum — ruff D-rules miss NumPy format hybrid violations
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

fix(docstrings): code review pass 2 fixes — Returns sections, D-rule explicit enforcement, tutorial CLI
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  _bmad-output/planning-artifacts/template-requirements.md
  docs/tutorials/getting-started.md
  pyproject.toml
  src/ncaa_eval/model/base.py
  src/ncaa_eval/transform/elo.py
Due: mypy, pytest-smoke

fix(docstrings): code review pass 2 fixes — Returns sections, D-rule explicit enforcement, tutorial CLI
  docs/conf.py
  tasks/__init__.py
  tasks/build.py
  tasks/common.py
  tasks/doc.py
  tasks/env.py
  tasks/git.py
  tasks/secure.py
  tasks/style.py
  tasks/test.py
Due: pytest-smoke

docs(story): update story 8.4 file list with PR ruff-lint fix files
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
Due: none

docs(template): add Story 8.4 PR fix learning — D-rule scope covers all Python files
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

docs(story-8.4): fix docstring style violations & documentation gaps (#51)
  README.md
  _bmad-output/implementation-artifacts/8-4-fix-docstring-style-violations-documentation-gaps.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/app.py
  docs/conf.py
  docs/tutorials/getting-started.md
  docs/user-guide.md
  pyproject.toml
  src/ncaa_eval/cli/main.py
  src/ncaa_eval/evaluation/metrics.py
  src/ncaa_eval/evaluation/providers.py
  src/ncaa_eval/evaluation/simulation.py
  src/ncaa_eval/ingest/connectors/base.py
  src/ncaa_eval/ingest/connectors/espn.py
  src/ncaa_eval/ingest/connectors/kaggle.py
  src/ncaa_eval/ingest/repository.py
  src/ncaa_eval/model/base.py
  src/ncaa_eval/model/elo.py
  src/ncaa_eval/model/logistic_regression.py
  src/ncaa_eval/model/tracking.py
  src/ncaa_eval/model/xgboost_model.py
  src/ncaa_eval/transform/calibration.py
  src/ncaa_eval/transform/elo.py
  src/ncaa_eval/transform/feature_serving.py
  src/ncaa_eval/transform/opponent.py
  tasks/__init__.py
  tasks/build.py
  tasks/common.py
  tasks/doc.py
  tasks/env.py
  tasks/git.py
  tasks/secure.py
  tasks/style.py
  tasks/test.py
  tests/integration/test_elo_integration.py
  tests/unit/test_evaluation_metrics.py
  tests/unit/test_kaggle_connector.py
Due: mypy, pytest-smoke

docs(story): create story 8.5 — Testing Gaps, Missing Tests & Dead Code Cleanup
  _bmad-output/implementation-artifacts/8-5-testing-gaps-missing-tests-dead-code-cleanup.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

test(cli): add XGBoost and Elo CLI training tests
  tests/unit/test_cli_train.py
Due: mypy, pytest-smoke

chore(tests): remove dead fixture and empty test file
  tests/conftest.py
  tests/test_ncaa_eval.py
Due: mypy, pytest-smoke

docs(story): mark story 8.5 complete — testing gaps closed
  _bmad-output/implementation-artifacts/8-5-testing-gaps-missing-tests-dead-code-cleanup.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

test(cli): fix marker gaps, docstring, and test quality in CLI train tests
  _bmad-output/implementation-artifacts/8-5-testing-gaps-missing-tests-dead-code-cleanup.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  tests/unit/test_cli_train.py
Due: mypy, pytest-smoke

Path conditions:
  mypy: any of: ^(src/|tests/) and \.py$
  pytest-smoke: any of: \.py$
