Repository dhilgart/NCAA_eval: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-smoke

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

default_stages:
  - commit
  - push

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-vcs-permalinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: debug-statements
      - id: no-commit-to-branch
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key


  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - post-commit
          - push

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint

  # Code Quality: Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff-lint
        args: [--fix]
        types: [python]
      - id: ruff-format
        name: ruff-format
        types: [python]

  # Type Checking: Mypy (local hook so poetry virtualenv is used - required for
  # type-checking tests that import the local ncaa_eval package)
  - repo: local
    hooks:
      - id: mypy
        name: mypy-strict
        entry: poetry run mypy
        args: [--strict, --show-error-codes, --namespace-packages]
        language: system
        types: [python]
        files: ^(src/|tests/)
        pass_filenames: false

  # Fast Tests: Pytest smoke tests
  - repo: local
    hooks:
      - id: pytest-smoke
        name: pytest-smoke
        entry: poetry run pytest -m smoke --tb=short -q
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

feat(testing): configure Hypothesis, Mutmut, and test directory structure
  .github/workflows/python-check.yaml
  .gitignore
  _bmad-output/implementation-artifacts/1-5-configure-testing-framework.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/fixtures/.gitkeep
  tests/integration/__init__.py
  tests/unit/test_framework_validation.py
Due: mypy, pytest-smoke

fix(testing): verify mutmut 3.x in WSL and fix mutants/ test isolation
  .gitignore
  _bmad-output/implementation-artifacts/1-5-configure-testing-framework.md
  pyproject.toml
Due: none

fix(testing): add branch coverage config and marker-based mutmut exclusion
  _bmad-output/implementation-artifacts/1-5-configure-testing-framework.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  pyproject.toml
  tests/unit/test_package_structure.py
Due: mypy, pytest-smoke

feat(testing): configure Hypothesis, Mutmut, and test framework (#5)
  .github/workflows/python-check.yaml
  .gitignore
  _bmad-output/implementation-artifacts/1-5-configure-testing-framework.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/fixtures/.gitkeep
  tests/integration/__init__.py
  tests/unit/test_framework_validation.py
  tests/unit/test_package_structure.py
Due: mypy, pytest-smoke

docs(story): create story 1.6 — configure session management & automation
  _bmad-output/implementation-artifacts/1-6-configure-session-management-automation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

feat(toolchain): configure Nox session management
  _bmad-output/implementation-artifacts/1-6-configure-session-management-automation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  noxfile.py
Due: pytest-smoke

fix(toolchain): extend mypy scope to noxfile.py; fix docstring style
  _bmad-output/implementation-artifacts/1-6-configure-session-management-automation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  noxfile.py
Due: pytest-smoke

docs(template): capture Story 1.6 code review learnings
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

Configure Nox session management & automation (#6)
  _bmad-output/implementation-artifacts/1-6-configure-session-management-automation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  noxfile.py
Due: pytest-smoke

docs(story): create story 1.7 — Configure Versioning, Packaging & Documentation
  _bmad-output/implementation-artifacts/1-7-configure-versioning-packaging-documentation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(template): add Story 1.7 learnings — Sphinx, cookiecutter cleanup, check-manifest, edgetest
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

docs(contributing): update workflow to Poetry/Nox/Commitizen toolchain
  CONTRIBUTING.md
  _bmad-output/implementation-artifacts/1-7-configure-versioning-packaging-documentation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(packaging): configure check-manifest and edgetest scaffolding
  _bmad-output/implementation-artifacts/1-7-configure-versioning-packaging-documentation.md
  pyproject.toml
Due: none

feat(docs): configure Sphinx with Furo theme and Napoleon extension
  _bmad-output/implementation-artifacts/1-7-configure-versioning-packaging-documentation.md
  docs/api/modules.rst
  docs/api/ncaa_eval.evaluation.rst
  docs/api/ncaa_eval.ingest.rst
  docs/api/ncaa_eval.model.rst
  docs/api/ncaa_eval.rst
  docs/api/ncaa_eval.transform.rst
  docs/api/ncaa_eval.utils.rst
  docs/conf.py
  docs/index.rst
  mkdocs.yml
Due: pytest-smoke

feat(docs): add Nox docs session for Sphinx HTML generation
  _bmad-output/implementation-artifacts/1-7-configure-versioning-packaging-documentation.md
  noxfile.py
Due: pytest-smoke

chore: expand check-manifest docs ignore to cover docs/**
  pyproject.toml
Due: none

chore(story): mark story 1.7 complete — ready for review
  _bmad-output/implementation-artifacts/1-7-configure-versioning-packaging-documentation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(settings): update permissions to include comprehensive tool and Bash command access
  .claude/settings.json
Due: none

fix(review): apply code review fixes for story 1.7
  CONTRIBUTING.md
  _bmad-output/implementation-artifacts/1-7-configure-versioning-packaging-documentation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  docs/conf.py
  pyproject.toml
Due: pytest-smoke

feat(toolchain): configure versioning, packaging & documentation (#7)
  .claude/settings.json
  CONTRIBUTING.md
  _bmad-output/implementation-artifacts/1-7-configure-versioning-packaging-documentation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  docs/api/modules.rst
  docs/api/ncaa_eval.evaluation.rst
  docs/api/ncaa_eval.ingest.rst
  docs/api/ncaa_eval.model.rst
  docs/api/ncaa_eval.rst
  docs/api/ncaa_eval.transform.rst
  docs/api/ncaa_eval.utils.rst
  docs/conf.py
  docs/index.rst
  mkdocs.yml
  noxfile.py
  pyproject.toml
Due: pytest-smoke

feat(docs): restructure docs/ as pure Sphinx source directory
  _bmad-output/implementation-artifacts/1-9-restructure-docs-sphinx-source.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/implementation-readiness-report-2026-02-15.md
  _bmad-output/planning-artifacts/template-requirements.md
  docs/STYLE_GUIDE.md
  docs/TESTING_STRATEGY.md
  docs/conf.py
  docs/index.rst
  poetry.lock
  pyproject.toml
  specs/01-brainstorming-session-results.md
  specs/02-project-brief.md
  specs/03-prd.md
  specs/04-front-end-spec.md
  specs/05-architecture-fullstack.md
  specs/archive/spec-prebmad/evaluation_approaches.md
  specs/archive/spec-prebmad/modeling_approaches.md
  specs/archive/spec-prebmad/spec.md
Due: pytest-smoke

fix(review): apply code review fixes for story 1.9
  _bmad-output/implementation-artifacts/1-9-restructure-docs-sphinx-source.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  docs/TESTING_STRATEGY.md
  docs/conf.py
Due: pytest-smoke

docs(story): create story 1.9 — Restructure docs/ as pure Sphinx source
  _bmad-output/implementation-artifacts/1-9-restructure-docs-sphinx-source.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

fix(review): apply code review #2 fixes for story 1.9
  _bmad-output/implementation-artifacts/1-9-restructure-docs-sphinx-source.md
  docs/STYLE_GUIDE.md
  docs/conf.py
Due: pytest-smoke

docs(template): add misc.highlighting_failure suppression learning
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

feat(settings): add git fetch and stash permissions
  .claude/settings.json
Due: none

Restructure docs/ as pure Sphinx source directory (#8)
  .claude/settings.json
  _bmad-output/implementation-artifacts/1-9-restructure-docs-sphinx-source.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/implementation-readiness-report-2026-02-15.md
  _bmad-output/planning-artifacts/template-requirements.md
  docs/STYLE_GUIDE.md
  docs/TESTING_STRATEGY.md
  docs/conf.py
  docs/index.rst
  poetry.lock
  pyproject.toml
  specs/01-brainstorming-session-results.md
  specs/02-project-brief.md
  specs/03-prd.md
  specs/04-front-end-spec.md
  specs/05-architecture-fullstack.md
  specs/archive/spec-prebmad/evaluation_approaches.md
  specs/archive/spec-prebmad/modeling_approaches.md
  specs/archive/spec-prebmad/spec.md
Due: pytest-smoke

docs(story): create story 1.8 — Implement Runtime Logging & Data Assertions Framework
  _bmad-output/implementation-artifacts/1-8-implement-runtime-logging-data-assertions-framework.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(utils): implement structured logging and data assertions framework
  _bmad-output/implementation-artifacts/1-8-implement-runtime-logging-data-assertions-framework.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src/ncaa_eval/utils/__init__.py
  src/ncaa_eval/utils/assertions.py
  src/ncaa_eval/utils/logger.py
  tests/unit/test_assertions.py
  tests/unit/test_logger.py
Due: mypy, pytest-smoke

fix(utils): harden assertions and fix test coupling (code review)
  _bmad-output/implementation-artifacts/1-8-implement-runtime-logging-data-assertions-framework.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  src/ncaa_eval/utils/assertions.py
  tests/unit/test_assertions.py
  tests/unit/test_logger.py
Due: mypy, pytest-smoke

refactor(utils): replace custom assertions with Pandera
  _bmad-output/planning-artifacts/template-requirements.md
  poetry.lock
  pyproject.toml
  src/ncaa_eval/utils/assertions.py
  tests/unit/test_assertions.py
Due: mypy, pytest-smoke

refactor(utils): remove assertions.py wrapper in favour of native Pandera
  src/ncaa_eval/utils/__init__.py
  src/ncaa_eval/utils/assertions.py
  tests/unit/test_assertions.py
Due: mypy, pytest-smoke

fix(story): align story 1.8 with Pandera adoption (code review round 2)
  _bmad-output/implementation-artifacts/1-8-implement-runtime-logging-data-assertions-framework.md
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

Implement runtime logging & adopt Pandera for data assertions (#9)
  _bmad-output/implementation-artifacts/1-8-implement-runtime-logging-data-assertions-framework.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  poetry.lock
  pyproject.toml
  src/ncaa_eval/utils/__init__.py
  src/ncaa_eval/utils/logger.py
  tests/unit/test_logger.py
Due: mypy, pytest-smoke

docs(story): create story 2.1 — evaluate data sources
  _bmad-output/implementation-artifacts/2-1-evaluate-data-sources.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(research): evaluate NCAA data sources for ingestion pipeline
  _bmad-output/implementation-artifacts/2-1-evaluate-data-sources.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  docs/research/data-source-evaluation.md
Due: none

docs(research): expand data source evaluation to 18 sources with methodologies
  _bmad-output/implementation-artifacts/2-1-evaluate-data-sources.md
  docs/research/data-source-evaluation.md
Due: none

docs(research): add data processing methodologies and anti-scraping findings
  docs/research/data-source-evaluation.md
Due: none

docs(review): code review story 2.1 — add rate limits, test procedures, action items
  _bmad-output/implementation-artifacts/2-1-evaluate-data-sources.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  docs/research/data-source-evaluation.md
Due: none

refactor(docs): move data source evaluation to specs/research/
  _bmad-output/implementation-artifacts/2-1-evaluate-data-sources.md
  specs/research/data-source-evaluation.md
Due: none
