Repository dhilgart/NCAA_eval: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-smoke

mypy:
  name: mypy-strict
  entry: poetry run mypy
  args:
  - --strict
  - --show-error-codes
  - --namespace-packages
  language: system
  pass_filenames: false

pytest-smoke:
  name: pytest-smoke
  entry: poetry run pytest -m smoke --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - commit

docs(story): update 7.2 story record and template learnings from adversarial review
  _bmad-output/implementation-artifacts/7-2-build-streamlit-app-shell-navigation.md
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

Build Streamlit app shell with navigation and global filters (Story 7.2) (#38)
  .gitignore
  .streamlit/config.toml
  _bmad-output/implementation-artifacts/7-2-build-streamlit-app-shell-navigation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/__init__.py
  dashboard/app.py
  dashboard/lib/__init__.py
  dashboard/lib/filters.py
  dashboard/lib/styles.py
  dashboard/pages/1_Lab.py
  dashboard/pages/2_Presentation.py
  dashboard/pages/3_Model_Deep_Dive.py
  dashboard/pages/4_Pool_Scorer.py
  dashboard/pages/home.py
  poetry.lock
  pyproject.toml
  tests/unit/test_dashboard_app.py
  tests/unit/test_dashboard_filters.py
Due: mypy, pytest-smoke

docs(story): create story 7.3 — Build Lab Page Backtest Leaderboard
  _bmad-output/implementation-artifacts/7-3-build-lab-page-backtest-leaderboard.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(tracking): add metric persistence to RunStore
  _bmad-output/implementation-artifacts/7-3-build-lab-page-backtest-leaderboard.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src/ncaa_eval/model/tracking.py
  tests/unit/test_run_store_metrics.py
Due: mypy, pytest-smoke

feat(cli): persist backtest metrics after training
  _bmad-output/implementation-artifacts/7-3-build-lab-page-backtest-leaderboard.md
  src/ncaa_eval/cli/train.py
Due: mypy, pytest-smoke

feat(dashboard): add leaderboard data-loading function
  _bmad-output/implementation-artifacts/7-3-build-lab-page-backtest-leaderboard.md
  dashboard/lib/filters.py
  tests/unit/test_dashboard_filters.py
Due: mypy, pytest-smoke

feat(dashboard): implement backtest leaderboard page
  _bmad-output/implementation-artifacts/7-3-build-lab-page-backtest-leaderboard.md
  dashboard/pages/1_Lab.py
Due: pytest-smoke

test(dashboard): add leaderboard page tests and import safety
  _bmad-output/implementation-artifacts/7-3-build-lab-page-backtest-leaderboard.md
  dashboard/pages/1_Lab.py
  tests/unit/test_leaderboard_page.py
Due: mypy, pytest-smoke

chore(story): mark story 7.3 complete — quality gates pass
  _bmad-output/implementation-artifacts/7-3-build-lab-page-backtest-leaderboard.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/pages/1_Lab.py
Due: pytest-smoke

fix(story-7.3): adversarial code review — 7 issues fixed
  _bmad-output/implementation-artifacts/7-3-build-lab-page-backtest-leaderboard.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/filters.py
  dashboard/pages/1_Lab.py
  src/ncaa_eval/cli/train.py
  src/ncaa_eval/evaluation/__init__.py
  src/ncaa_eval/evaluation/backtest.py
  src/ncaa_eval/model/tracking.py
  tests/unit/test_cli_train.py
  tests/unit/test_evaluation_backtest.py
  tests/unit/test_leaderboard_page.py
Due: mypy, pytest-smoke

fix(story-7.3): adversarial code review round 2 — 6 issues fixed
  _bmad-output/implementation-artifacts/7-3-build-lab-page-backtest-leaderboard.md
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/filters.py
  dashboard/pages/1_Lab.py
  src/ncaa_eval/cli/train.py
  tests/unit/test_dashboard_filters.py
  tests/unit/test_leaderboard_page.py
Due: mypy, pytest-smoke

feat(epic-7): Build Lab Page — Backtest Leaderboard (Story 7.3) (#39)
  _bmad-output/implementation-artifacts/7-3-build-lab-page-backtest-leaderboard.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/filters.py
  dashboard/pages/1_Lab.py
  src/ncaa_eval/cli/train.py
  src/ncaa_eval/evaluation/__init__.py
  src/ncaa_eval/evaluation/backtest.py
  src/ncaa_eval/model/tracking.py
  tests/unit/test_cli_train.py
  tests/unit/test_dashboard_filters.py
  tests/unit/test_evaluation_backtest.py
  tests/unit/test_leaderboard_page.py
  tests/unit/test_run_store_metrics.py
Due: mypy, pytest-smoke

docs(story): create story 7.4 — Build Lab Page — Model Deep Dive & Reliability Diagrams
  _bmad-output/implementation-artifacts/7-4-build-lab-page-model-deep-dive-reliability-diagrams.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(tracking): add fold predictions persistence to RunStore
  src/ncaa_eval/model/tracking.py
  tests/unit/test_run_store_metrics.py
Due: mypy, pytest-smoke

feat(train): wire fold predictions persistence into training pipeline
  src/ncaa_eval/cli/train.py
  src/ncaa_eval/evaluation/backtest.py
Due: mypy, pytest-smoke

feat(tracking): add model persistence to RunStore
  src/ncaa_eval/cli/train.py
  src/ncaa_eval/model/tracking.py
  tests/unit/test_run_store_metrics.py
Due: mypy, pytest-smoke

feat(dashboard): add fold predictions and feature importance loaders
  dashboard/lib/filters.py
  tests/unit/test_dashboard_filters.py
Due: mypy, pytest-smoke

feat(dashboard): implement Model Deep Dive page
  dashboard/pages/3_Model_Deep_Dive.py
Due: pytest-smoke

test(dashboard): add Model Deep Dive page tests
  tests/unit/test_deep_dive_page.py
Due: mypy, pytest-smoke

docs(story): mark story 7.4 as review
  _bmad-output/implementation-artifacts/7-4-build-lab-page-model-deep-dive-reliability-diagrams.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

fix(review): story 7.4 code review — 6 issues fixed
  _bmad-output/implementation-artifacts/7-4-build-lab-page-model-deep-dive-reliability-diagrams.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/filters.py
  dashboard/pages/3_Model_Deep_Dive.py
  src/ncaa_eval/model/tracking.py
  tests/unit/test_cli_train.py
Due: mypy, pytest-smoke

fix(review): story 7.4 second review — 1 high + 3 medium + 1 low fixed
  _bmad-output/implementation-artifacts/7-4-build-lab-page-model-deep-dive-reliability-diagrams.md
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/filters.py
  dashboard/pages/3_Model_Deep_Dive.py
  tests/unit/test_cli_train.py
  tests/unit/test_dashboard_filters.py
  tests/unit/test_deep_dive_page.py
Due: mypy, pytest-smoke

feat(dashboard): Model Deep Dive page with reliability diagrams and feature importance (#40)
  _bmad-output/implementation-artifacts/7-4-build-lab-page-model-deep-dive-reliability-diagrams.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/filters.py
  dashboard/pages/3_Model_Deep_Dive.py
  src/ncaa_eval/cli/train.py
  src/ncaa_eval/evaluation/backtest.py
  src/ncaa_eval/model/tracking.py
  tests/unit/test_cli_train.py
  tests/unit/test_dashboard_filters.py
  tests/unit/test_deep_dive_page.py
  tests/unit/test_run_store_metrics.py
Due: mypy, pytest-smoke

docs(story): create story 7.5 — Build Presentation Page — Bracket Visualizer
  _bmad-output/implementation-artifacts/7-5-build-presentation-page-bracket-visualizer.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(dashboard): Build Presentation Page — Bracket Visualizer (Story 7.5)
  _bmad-output/implementation-artifacts/7-5-build-presentation-page-bracket-visualizer.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/lib/bracket_renderer.py
  dashboard/lib/filters.py
  dashboard/pages/2_Presentation.py
  tests/unit/test_bracket_page.py
  tests/unit/test_bracket_renderer.py
  tests/unit/test_dashboard_filters.py
Due: mypy, pytest-smoke

fix(dashboard): code review fixes for Story 7.5 — Bracket Visualizer
  _bmad-output/implementation-artifacts/7-5-build-presentation-page-bracket-visualizer.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/filters.py
  dashboard/pages/2_Presentation.py
  tests/unit/test_bracket_page.py
  tests/unit/test_bracket_renderer.py
  tests/unit/test_dashboard_filters.py
Due: mypy, pytest-smoke

fix(dashboard): code review round 2 fixes for Story 7.5 — Bracket Visualizer
  _bmad-output/implementation-artifacts/7-5-build-presentation-page-bracket-visualizer.md
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/pages/2_Presentation.py
  tests/unit/test_bracket_page.py
Due: mypy, pytest-smoke

feat(dashboard): Build Presentation Page — Bracket Visualizer (Story 7.5) (#41)
  _bmad-output/implementation-artifacts/7-5-build-presentation-page-bracket-visualizer.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/bracket_renderer.py
  dashboard/lib/filters.py
  dashboard/pages/2_Presentation.py
  tests/unit/test_bracket_page.py
  tests/unit/test_bracket_renderer.py
  tests/unit/test_dashboard_filters.py
Due: mypy, pytest-smoke

docs(story): create story 7.6 — Build Presentation Page — Pool Scorer & Point Outcome Analysis
  _bmad-output/implementation-artifacts/7-6-build-presentation-page-pool-scorer-point-outcome-analysis.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(dashboard): add pool scorer helper functions to filters.py
  _bmad-output/implementation-artifacts/7-6-build-presentation-page-pool-scorer-point-outcome-analysis.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/lib/filters.py
  tests/unit/test_dashboard_filters.py
Due: mypy, pytest-smoke

feat(dashboard): build Pool Scorer page with MC scoring and CSV export
  _bmad-output/implementation-artifacts/7-6-build-presentation-page-pool-scorer-point-outcome-analysis.md
  dashboard/pages/4_Pool_Scorer.py
Due: pytest-smoke

test(dashboard): add Pool Scorer page rendering tests
  _bmad-output/implementation-artifacts/7-6-build-presentation-page-pool-scorer-point-outcome-analysis.md
  tests/unit/test_pool_scorer_page.py
Due: mypy, pytest-smoke

docs(story): mark story 7.6 complete — status review
  _bmad-output/implementation-artifacts/7-6-build-presentation-page-pool-scorer-point-outcome-analysis.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

fix(dashboard): code review fixes for Pool Scorer page
  _bmad-output/implementation-artifacts/7-6-build-presentation-page-pool-scorer-point-outcome-analysis.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/filters.py
  dashboard/pages/4_Pool_Scorer.py
  tests/unit/test_dashboard_filters.py
  tests/unit/test_pool_scorer_page.py
Due: mypy, pytest-smoke

feat(dashboard): Pool Scorer page with MC outcome analysis and CSV export (#42)
  _bmad-output/implementation-artifacts/7-6-build-presentation-page-pool-scorer-point-outcome-analysis.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/filters.py
  dashboard/pages/4_Pool_Scorer.py
  tests/unit/test_dashboard_filters.py
  tests/unit/test_pool_scorer_page.py
Due: mypy, pytest-smoke

docs(story): create story 7.7 — Research Game Theory Slider Mechanism
  _bmad-output/implementation-artifacts/7-7-research-game-theory-slider-mechanism.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(research): game theory slider mechanism spike (Story 7.7)
  _bmad-output/implementation-artifacts/7-7-research-game-theory-slider-mechanism.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  specs/research/game-theory-slider-mechanism.md
Due: none

docs(research): code review Story 7.7 — fix 6 issues, mark done
  _bmad-output/implementation-artifacts/7-7-research-game-theory-slider-mechanism.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  specs/research/game-theory-slider-mechanism.md
Due: none

docs(research): code review #2 Story 7.7 — fix 4 issues (1 High, 2 Medium, 1 Low)
  _bmad-output/implementation-artifacts/7-7-research-game-theory-slider-mechanism.md
  specs/research/game-theory-slider-mechanism.md
Due: none

Research game theory slider mechanism spike (Story 7.7) (#43)
  _bmad-output/implementation-artifacts/7-7-research-game-theory-slider-mechanism.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  specs/research/game-theory-slider-mechanism.md
Due: none

Path conditions:
  mypy: any of: ^(src/|tests/) and \.py$
  pytest-smoke: any of: \.py$
