Repository dhilgart/NCAA_eval: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-smoke

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

default_stages:
  - commit
  - push

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-vcs-permalinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: debug-statements
      - id: no-commit-to-branch
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key


  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - post-commit
          - push

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint

  # Code Quality: Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff-lint
        args: [--fix]
        types: [python]
      - id: ruff-format
        name: ruff-format
        types: [python]

  # Type Checking: Mypy (local hook so poetry virtualenv is used - required for
  # type-checking tests that import the local ncaa_eval package)
  - repo: local
    hooks:
      - id: mypy
        name: mypy-strict
        entry: poetry run mypy
        args: [--strict, --show-error-codes, --namespace-packages]
        language: system
        types: [python]
        files: ^(src/|tests/)
        pass_filenames: false

  # Fast Tests: Pytest smoke tests
  - repo: local
    hooks:
      - id: pytest-smoke
        name: pytest-smoke
        entry: poetry run pytest -m smoke --tb=short -q
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

feat(tutorial): ensemble tutorial notebook with end-to-end workflow (Story 10.4)
  _bmad-output/implementation-artifacts/10-4-ensemble-tutorial-notebook.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  docs/tutorials/getting-started.md
  notebooks/tutorials/03_ensemble_model.ipynb
  src/ncaa_eval/cli/train.py
  src/ncaa_eval/model/ensemble.py
  tests/integration/test_notebook_execution.py
Due: mypy, pytest-smoke

fix(ensemble): code review fixes for Story 10.4 — CoW safety, NaN tests, notebook polish
  _bmad-output/implementation-artifacts/10-4-ensemble-tutorial-notebook.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  notebooks/tutorials/03_ensemble_model.ipynb
  src/ncaa_eval/model/ensemble.py
  tests/unit/test_model_ensemble.py
Due: mypy, pytest-smoke

fix(ci): update commitizen-action to 0.27.1 — v3 tag no longer exists
  .github/workflows/main-updated.yaml
Due: none

fix(tutorial): code review round 2 fixes for Story 10.4 — notebook execution, OOF clarity, test coverage
  _bmad-output/implementation-artifacts/10-4-ensemble-tutorial-notebook.md
  _bmad-output/planning-artifacts/template-requirements.md
  notebooks/tutorials/03_ensemble_model.ipynb
  tests/unit/test_model_ensemble.py
Due: mypy, pytest-smoke

feat(tutorial): Ensemble Tutorial Notebook — Story 10.4 (#81)
  .github/workflows/main-updated.yaml
  _bmad-output/implementation-artifacts/10-4-ensemble-tutorial-notebook.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  docs/tutorials/getting-started.md
  notebooks/tutorials/03_ensemble_model.ipynb
  src/ncaa_eval/cli/train.py
  src/ncaa_eval/model/ensemble.py
  tests/integration/test_notebook_execution.py
  tests/unit/test_model_ensemble.py
Due: mypy, pytest-smoke

deploy: b0f007765e64ac2db2ccc7d57dd46f4895608a23
  .doctrees/environment.pickle
  .doctrees/tutorials/getting-started.doctree
  _downloads/0ecbc7c84216e09a3a2ade44e4fb672f/03_ensemble_model.ipynb
  _modules/ncaa_eval/cli/train.html
  _modules/ncaa_eval/model/ensemble.html
  _sources/tutorials/getting-started.md.txt
  searchindex.js
  tutorials/getting-started.html
Due: none

docs(story): create story 10.5 — CI Bumpversion Fix & Output Directory Gitignore
  _bmad-output/implementation-artifacts/10-5-ci-gitignore-hotfixes.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
Due: none

docs(story): create story 10.6 — 2026 Season Data Support
  _bmad-output/implementation-artifacts/10-6-2026-season-data-support.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
Due: none

docs(story): update stories 10.5 and 10.6 with additional scope
  _bmad-output/implementation-artifacts/10-5-ci-gitignore-hotfixes.md
  _bmad-output/implementation-artifacts/10-6-2026-season-data-support.md
  _bmad-output/planning-artifacts/epics.md
Due: none

chore(gitignore): exclude output/ directory from git tracking
  .gitignore
Due: none

fix(ci): resolve bump-version job failure due to branch protection
  .github/workflows/main-updated.yaml
Due: none

fix(pre-commit): migrate deprecated stage names to current syntax
  .pre-commit-config.yaml
Due: none

docs(story): complete story 10.5 — mark for review
  _bmad-output/implementation-artifacts/10-5-ci-gitignore-hotfixes.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(story): code review 10.5 — return to in-progress with findings
  _bmad-output/implementation-artifacts/10-5-ci-gitignore-hotfixes.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

docs(story): code review 10.5 — return to in-progress with findings
  .gitignore
  _bmad-output/implementation-artifacts/10-5-ci-gitignore-hotfixes.md
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

fix(ci): resolve stale main after bump-version — open PR via github-script
  .github/workflows/main-updated.yaml
  _bmad-output/implementation-artifacts/10-5-ci-gitignore-hotfixes.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

fix(ci): code review 10.5 round 2 — merge guard, idempotent push, PR warning
  .github/workflows/main-updated.yaml
  _bmad-output/implementation-artifacts/10-5-ci-gitignore-hotfixes.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

fix(ci): CI bumpversion fix, output/ gitignore, pre-commit stage migration (#82)
  .github/workflows/main-updated.yaml
  .gitignore
  .pre-commit-config.yaml
  _bmad-output/implementation-artifacts/10-5-ci-gitignore-hotfixes.md
  _bmad-output/implementation-artifacts/10-6-2026-season-data-support.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

deploy: dde61b432f52aea5f9b62ebb5d9599b1f091ff2a
  .doctrees/environment.pickle
Due: none

feat(data): add 2026 season data support and fix seasons cache invalidation
  _bmad-output/implementation-artifacts/10-6-2026-season-data-support.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/pages/home.py
  src/ncaa_eval/cli/export.py
  src/ncaa_eval/cli/predict.py
  src/ncaa_eval/ingest/connectors/kaggle.py
  src/ncaa_eval/ingest/sync.py
  src/ncaa_eval/transform/graph.py
  src/ncaa_eval/transform/normalization.py
  tests/integration/test_sync.py
  tests/unit/test_normalization.py
Due: mypy, pytest-smoke

test(ingest): strengthen sync cache-hit tests — fetch_seasons call count + old-season integrity
  _bmad-output/implementation-artifacts/10-6-2026-season-data-support.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  tests/integration/test_sync.py
Due: mypy, pytest-smoke

test(ingest): code review R2 — seasons_written accuracy, constant drift, call-count assert
  _bmad-output/implementation-artifacts/10-6-2026-season-data-support.md
  _bmad-output/planning-artifacts/template-requirements.md
  src/ncaa_eval/ingest/sync.py
  src/ncaa_eval/transform/normalization.py
  tests/integration/test_sync.py
Due: mypy, pytest-smoke

feat(data): 2026 season data support and seasons cache invalidation fix (#83)
  _bmad-output/implementation-artifacts/10-6-2026-season-data-support.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/pages/home.py
  src/ncaa_eval/cli/export.py
  src/ncaa_eval/cli/predict.py
  src/ncaa_eval/ingest/connectors/kaggle.py
  src/ncaa_eval/ingest/sync.py
  src/ncaa_eval/transform/graph.py
  src/ncaa_eval/transform/normalization.py
  tests/integration/test_sync.py
  tests/unit/test_normalization.py
Due: mypy, pytest-smoke

deploy: 70637b63028c46c16e02da0d1c89d8519a45bf64
  .doctrees/api/ncaa_eval.cli.export.doctree
  .doctrees/api/ncaa_eval.cli.predict.doctree
  .doctrees/api/ncaa_eval.ingest.connectors.doctree
  .doctrees/api/ncaa_eval.ingest.connectors.kaggle.doctree
  .doctrees/api/ncaa_eval.ingest.doctree
  .doctrees/api/ncaa_eval.transform.doctree
  .doctrees/api/ncaa_eval.transform.graph.doctree
  .doctrees/api/ncaa_eval.transform.normalization.doctree
  .doctrees/environment.pickle
  _modules/ncaa_eval/cli/export.html
  _modules/ncaa_eval/cli/predict.html
  _modules/ncaa_eval/ingest/connectors/kaggle.html
  _modules/ncaa_eval/ingest/sync.html
  _modules/ncaa_eval/transform/graph.html
  _modules/ncaa_eval/transform/normalization.html
  api/ncaa_eval.cli.export.html
  api/ncaa_eval.cli.predict.html
  api/ncaa_eval.ingest.connectors.html
  api/ncaa_eval.ingest.connectors.kaggle.html
  api/ncaa_eval.ingest.html
  api/ncaa_eval.transform.graph.html
  api/ncaa_eval.transform.html
  api/ncaa_eval.transform.normalization.html
  searchindex.js
Due: none

docs(story): create story 10.7 — End-to-End User-Facing Execution Audit
  _bmad-output/implementation-artifacts/10-7-end-to-end-user-guide-execution-audit.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
Due: none

feat(test): add E2E execution-context startup tests for user-facing commands
  .github/workflows/python-check.yaml
  _bmad-output/implementation-artifacts/10-7-end-to-end-user-guide-execution-audit.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  docs/TESTING_STRATEGY.md
  docs/testing/execution.md
  docs/tutorials/getting-started.md
  tests/e2e/__init__.py
  tests/e2e/test_user_facing_commands.py
Due: mypy, pytest-smoke

fix(test): code review fixes for Story 10.7 — E2E execution audit
  _bmad-output/implementation-artifacts/10-7-end-to-end-user-guide-execution-audit.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  notebooks/tutorials/03_ensemble_model.ipynb
  tests/e2e/test_user_facing_commands.py
Due: mypy, pytest-smoke

fix(test): code review fixes for Story 10.7 — E2E execution audit (pass 2)
  .github/workflows/python-check.yaml
  _bmad-output/implementation-artifacts/10-7-end-to-end-user-guide-execution-audit.md
  _bmad-output/planning-artifacts/template-requirements.md
  docs/testing/execution.md
  tests/e2e/test_user_facing_commands.py
Due: mypy, pytest-smoke

fix(test): code review fixes for Story 10.7 — E2E execution audit (pass 3)
  _bmad-output/implementation-artifacts/10-7-end-to-end-user-guide-execution-audit.md
  src/ncaa_eval/cli/train.py
  tests/integration/test_documented_commands.py
  tests/unit/test_cli_export.py
  tests/unit/test_cli_predict.py
  tests/unit/test_espn_connector.py
  tests/unit/test_kaggle_connector.py
  tests/unit/test_model_ensemble.py
Due: mypy, pytest-smoke

fix(dashboard): fix sys.path for bare streamlit run and ignore configs/
  .gitignore
  dashboard/app.py
Due: pytest-smoke
