Repository dhilgart/NCAA_eval: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-smoke

mypy:
  name: mypy-strict
  entry: poetry run mypy
  args:
  - --strict
  - --show-error-codes
  - --namespace-packages
  language: system
  pass_filenames: false

pytest-smoke:
  name: pytest-smoke
  entry: poetry run pytest -m smoke --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - commit

docs(story): create story 9.8 — User-Editable Bracket
  _bmad-output/implementation-artifacts/9-8-user-editable-bracket.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(dashboard): add bracket override state management (Story 9.8, Task 1)
  _bmad-output/implementation-artifacts/9-8-user-editable-bracket.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/lib/bracket_overrides.py
  tests/unit/test_bracket_overrides.py
Due: mypy, pytest-smoke

feat(dashboard): add override visual distinction to bracket renderer (Story 9.8, Task 2)
  _bmad-output/implementation-artifacts/9-8-user-editable-bracket.md
  dashboard/lib/bracket_renderer.py
Due: pytest-smoke

feat(dashboard): integrate bracket overrides into Visualizer page (Story 9.8, Task 3)
  _bmad-output/implementation-artifacts/9-8-user-editable-bracket.md
  dashboard/pages/2_Presentation.py
  tests/unit/test_bracket_page.py
Due: mypy, pytest-smoke

feat(dashboard): integrate bracket overrides into Pool Scorer (Story 9.8, Task 4)
  dashboard/lib/filters.py
  dashboard/pages/4_Pool_Scorer.py
  tests/unit/test_pool_scorer_page.py
Due: mypy, pytest-smoke

docs(user-guide): add user-editable bracket documentation (Story 9.8, Task 6)
  docs/user-guide.md
Due: none

docs(story): mark story 9.8 as review — all tasks complete
  _bmad-output/implementation-artifacts/9-8-user-editable-bracket.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

fix(dashboard): code review fixes for Story 9.8 — 5 issues resolved
  _bmad-output/implementation-artifacts/9-8-user-editable-bracket.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/bracket_overrides.py
  dashboard/pages/2_Presentation.py
  dashboard/pages/4_Pool_Scorer.py
  tests/unit/test_bracket_overrides.py
  tests/unit/test_pool_scorer_page.py
Due: mypy, pytest-smoke

feat(dashboard): Story 9.8 — User-Editable Bracket with Override Cascade (#69)
  _bmad-output/implementation-artifacts/9-8-user-editable-bracket.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/bracket_overrides.py
  dashboard/lib/bracket_renderer.py
  dashboard/lib/filters.py
  dashboard/pages/2_Presentation.py
  dashboard/pages/4_Pool_Scorer.py
  docs/user-guide.md
  tests/unit/test_bracket_overrides.py
  tests/unit/test_bracket_page.py
  tests/unit/test_pool_scorer_page.py
Due: mypy, pytest-smoke

deploy: 28c86502658500d619c9781d700a8afd10851054
  .doctrees/environment.pickle
  .doctrees/user-guide.doctree
  _sources/user-guide.md.txt
  searchindex.js
  user-guide.html
Due: none

docs(story): create story 9.9 — CLI predict command
  _bmad-output/implementation-artifacts/9-9-cli-predict-command.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(cli): add predict command for win-probability CSV generation (Story 9.9)
  _bmad-output/implementation-artifacts/9-9-cli-predict-command.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  docs/user-guide.md
  src/ncaa_eval/cli/main.py
  src/ncaa_eval/cli/predict.py
  tests/unit/test_cli_predict.py
Due: mypy, pytest-smoke

fix(cli): code review fixes for predict command (Story 9.9)
  _bmad-output/implementation-artifacts/9-9-cli-predict-command.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  src/ncaa_eval/cli/predict.py
  tests/unit/test_cli_predict.py
Due: mypy, pytest-smoke

fix(cli): code review fixes for predict command — round 2 (Story 9.9)
  _bmad-output/implementation-artifacts/9-9-cli-predict-command.md
  _bmad-output/planning-artifacts/template-requirements.md
  src/ncaa_eval/cli/main.py
  src/ncaa_eval/cli/predict.py
  tests/unit/test_cli_predict.py
Due: mypy, pytest-smoke

feat(cli): add predict command for win-probability CSV generation (Story 9.9) (#70)
  _bmad-output/implementation-artifacts/9-9-cli-predict-command.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  docs/user-guide.md
  src/ncaa_eval/cli/main.py
  src/ncaa_eval/cli/predict.py
  tests/unit/test_cli_predict.py
Due: mypy, pytest-smoke

docs(story): create story 9.10 — Custom Metric Plugin Registry
  _bmad-output/implementation-artifacts/9-10-custom-metric-plugin-registry.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(evaluation): add custom metric plugin registry (Story 9.10)
  _bmad-output/implementation-artifacts/9-10-custom-metric-plugin-registry.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/pages/1_Lab.py
  dashboard/pages/3_Model_Deep_Dive.py
  docs/tutorials/custom-metric.md
  src/ncaa_eval/evaluation/__init__.py
  src/ncaa_eval/evaluation/backtest.py
  src/ncaa_eval/evaluation/metrics.py
  tests/unit/test_leaderboard_page.py
  tests/unit/test_metric_registry.py
Due: mypy, pytest-smoke

fix(evaluation): code review fixes for custom metric plugin registry (Story 9.10)
  _bmad-output/implementation-artifacts/9-10-custom-metric-plugin-registry.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/lib/data_loaders.py
  dashboard/pages/1_Lab.py
  dashboard/pages/3_Model_Deep_Dive.py
  src/ncaa_eval/evaluation/__init__.py
  tests/unit/test_metric_registry.py
Due: mypy, pytest-smoke

feat(evaluation): add custom metric plugin registry (Story 9.10) (#71)
  _bmad-output/implementation-artifacts/9-10-custom-metric-plugin-registry.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/lib/data_loaders.py
  dashboard/pages/1_Lab.py
  dashboard/pages/3_Model_Deep_Dive.py
  docs/tutorials/custom-metric.md
  src/ncaa_eval/evaluation/__init__.py
  src/ncaa_eval/evaluation/backtest.py
  src/ncaa_eval/evaluation/metrics.py
  tests/unit/test_leaderboard_page.py
  tests/unit/test_metric_registry.py
Due: mypy, pytest-smoke

deploy: ce6c788d239b3abbc338f2d76eb116e5677e47a4
  .doctrees/api/ncaa_eval.evaluation.backtest.doctree
  .doctrees/api/ncaa_eval.evaluation.doctree
  .doctrees/api/ncaa_eval.evaluation.metrics.doctree
  .doctrees/environment.pickle
  .doctrees/tutorials/custom-metric.doctree
  _modules/ncaa_eval/evaluation/backtest.html
  _modules/ncaa_eval/evaluation/metrics.html
  _sources/tutorials/custom-metric.md.txt
  api/ncaa_eval.evaluation.backtest.html
  api/ncaa_eval.evaluation.html
  api/ncaa_eval.evaluation.metrics.html
  api/ncaa_eval.html
  genindex.html
  objects.inv
  searchindex.js
  tutorials/custom-metric.html
Due: none

docs(story): create story 9.6 — Revisit Skipped Audit Decisions
  _bmad-output/implementation-artifacts/9-6-revisit-skipped-audit-decisions.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(story): complete story 9.6 — Revisit Skipped Audit Decisions
  _bmad-output/implementation-artifacts/9-6-revisit-skipped-audit-decisions.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/po-decision-log-epic8.md
Due: none

docs(story): code review #2 fixes for story 9.6
  _bmad-output/implementation-artifacts/9-6-revisit-skipped-audit-decisions.md
  _bmad-output/planning-artifacts/po-decision-log-epic8.md
Due: none

docs(story): Story 9.6 — Revisit Skipped Audit Decisions (#72)
  _bmad-output/implementation-artifacts/9-6-revisit-skipped-audit-decisions.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/po-decision-log-epic8.md
Due: none

deploy: 884e2d12d0b5a19b42a1ba75824b81fd9e203bfc
  .doctrees/environment.pickle
Due: none

docs(story): create story 9.11 — Replace Undocumented Streamlit API Usage
  _bmad-output/implementation-artifacts/9-11-replace-undocumented-streamlit-api.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

refactor(dashboard): replace undocumented Streamlit selection API (Story 9.11)
  _bmad-output/implementation-artifacts/9-11-replace-undocumented-streamlit-api.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/pages/1_Lab.py
  tests/unit/test_leaderboard_page.py
Due: mypy, pytest-smoke

fix(dashboard): code review fixes for Story 9.11
  _bmad-output/implementation-artifacts/9-11-replace-undocumented-streamlit-api.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/pages/1_Lab.py
  tests/unit/test_leaderboard_page.py
Due: mypy, pytest-smoke

fix(dashboard): strengthen session_state assertion in TestClickToNavigate (Story 9.11)
  _bmad-output/implementation-artifacts/9-11-replace-undocumented-streamlit-api.md
  _bmad-output/planning-artifacts/template-requirements.md
  tests/unit/test_leaderboard_page.py
Due: mypy, pytest-smoke

refactor(dashboard): replace undocumented Streamlit selection API (Story 9.11) (#73)
  _bmad-output/implementation-artifacts/9-11-replace-undocumented-streamlit-api.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/pages/1_Lab.py
  tests/unit/test_leaderboard_page.py
Due: mypy, pytest-smoke

deploy: a8302a96a41d9e3e7fd37346542b2387bc091248
  .doctrees/environment.pickle
Due: none

docs(story): create story 9.12 — Implement st.progress for Simulation
  _bmad-output/implementation-artifacts/9-12-implement-st-progress-simulation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(dashboard): add st.progress bar for Monte Carlo simulation (Story 9.12)
  _bmad-output/implementation-artifacts/9-12-implement-st-progress-simulation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/lib/simulation_helpers.py
  dashboard/pages/2_Presentation.py
  dashboard/pages/4_Pool_Scorer.py
  src/ncaa_eval/evaluation/simulation.py
  tests/unit/test_bracket_page.py
  tests/unit/test_evaluation_simulation.py
  tests/unit/test_pool_scorer_page.py
Due: mypy, pytest-smoke

fix(dashboard): code review fixes for Story 9.12 progress bar
  _bmad-output/implementation-artifacts/9-12-implement-st-progress-simulation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/lib/simulation_helpers.py
  dashboard/pages/2_Presentation.py
  dashboard/pages/4_Pool_Scorer.py
  tests/unit/test_pool_scorer_page.py
Due: mypy, pytest-smoke

docs(template): capture Story 9.12 learnings in template-requirements.md
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

fix(tests): strengthen progress bar tests for Story 9.12 (code review pass 2)
  _bmad-output/implementation-artifacts/9-12-implement-st-progress-simulation.md
  tests/unit/test_evaluation_simulation.py
  tests/unit/test_pool_scorer_page.py
Due: mypy, pytest-smoke

docs(template): add exception-path testing pattern for try/finally (Story 9.12 pass 2)
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

feat(dashboard): implement st.progress for Monte Carlo simulation (Story 9.12) (#74)
  _bmad-output/implementation-artifacts/9-12-implement-st-progress-simulation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/simulation_helpers.py
  dashboard/pages/2_Presentation.py
  dashboard/pages/4_Pool_Scorer.py
  src/ncaa_eval/evaluation/simulation.py
  tests/unit/test_bracket_page.py
  tests/unit/test_evaluation_simulation.py
  tests/unit/test_pool_scorer_page.py
Due: mypy, pytest-smoke

deploy: 3ab48b71c5aa3bffa150604bcf15327702986361
  .doctrees/api/ncaa_eval.evaluation.doctree
  .doctrees/api/ncaa_eval.evaluation.simulation.doctree
  .doctrees/environment.pickle
  _modules/ncaa_eval/evaluation/simulation.html
  api/ncaa_eval.evaluation.html
  api/ncaa_eval.evaluation.simulation.html
  searchindex.js
Due: none

Path conditions:
  mypy: any of: ^(src/|tests/) and \.py$
  pytest-smoke: any of: \.py$
