Repository dhilgart/NCAA_eval: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-smoke

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

default_stages:
  - commit
  - push

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-vcs-permalinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: debug-statements
      - id: no-commit-to-branch
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key


  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - post-commit
          - push

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint

  # Code Quality: Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff-lint
        args: [--fix]
        types: [python]
      - id: ruff-format
        name: ruff-format
        types: [python]

  # Type Checking: Mypy (local hook so poetry virtualenv is used - required for
  # type-checking tests that import the local ncaa_eval package)
  - repo: local
    hooks:
      - id: mypy
        name: mypy-strict
        entry: poetry run mypy
        args: [--strict, --show-error-codes, --namespace-packages]
        language: system
        types: [python]
        files: ^(src/|tests/)
        pass_filenames: false

  # Fast Tests: Pytest smoke tests
  - repo: local
    hooks:
      - id: pytest-smoke
        name: pytest-smoke
        entry: poetry run pytest -m smoke --tb=short -q
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

docs(template-req): add spike output location convention from Story 2.1
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

docs(review): code review round 2 story 2.1 — fix AC path, complete File List
  _bmad-output/implementation-artifacts/2-1-evaluate-data-sources.md
Due: none

docs(epics): add spike decisions for Epic 2 source selection & post-MVP backlog
  _bmad-output/planning-artifacts/epics.md
Due: none

docs(review): code review round 3 story 2.1 — flag source selection for human approval
  _bmad-output/implementation-artifacts/2-1-evaluate-data-sources.md
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/template-requirements.md
  specs/research/data-source-evaluation.md
Due: none

Evaluate NCAA data sources for ingestion pipeline (Story 2.1) (#10)
  _bmad-output/implementation-artifacts/2-1-evaluate-data-sources.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/template-requirements.md
  specs/research/data-source-evaluation.md
Due: none

docs(story): create story 2.2 — Define Internal Data Schema & Repository Layer
  _bmad-output/implementation-artifacts/2-2-define-internal-data-schema-repository-layer.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(ingest): define internal data schema & Parquet repository layer
  _bmad-output/implementation-artifacts/2-2-define-internal-data-schema-repository-layer.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  poetry.lock
  pyproject.toml
  src/ncaa_eval/ingest/__init__.py
  src/ncaa_eval/ingest/repository.py
  src/ncaa_eval/ingest/schema.py
  tests/unit/test_repository.py
  tests/unit/test_schema.py
Due: mypy, pytest-smoke

docs(template): add Pydantic/pyarrow/mutmut learnings from Story 2.2
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

review(ingest): fix 5 code review issues in schema & repository layer
  _bmad-output/implementation-artifacts/2-2-define-internal-data-schema-repository-layer.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src/ncaa_eval/ingest/repository.py
  src/ncaa_eval/ingest/schema.py
  tests/unit/test_repository.py
  tests/unit/test_schema.py
Due: mypy, pytest-smoke

docs(template): add pyarrow schema evolution & Pydantic cross-field validator patterns
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

fix(ingest): address 6 code review findings + ruff-format compliance
  _bmad-output/implementation-artifacts/2-2-define-internal-data-schema-repository-layer.md
  _bmad-output/planning-artifacts/template-requirements.md
  _bmad/bmm/workflows/4-implementation/code-review/instructions.xml
  src/ncaa_eval/ingest/repository.py
  tests/unit/test_repository.py
  tests/unit/test_schema.py
Due: mypy, pytest-smoke

Define internal data schema & Parquet repository layer (Story 2.2) (#11)
  _bmad-output/implementation-artifacts/2-2-define-internal-data-schema-repository-layer.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  _bmad/bmm/workflows/4-implementation/code-review/instructions.xml
  poetry.lock
  pyproject.toml
  src/ncaa_eval/ingest/__init__.py
  src/ncaa_eval/ingest/repository.py
  src/ncaa_eval/ingest/schema.py
  tests/unit/test_repository.py
  tests/unit/test_schema.py
Due: mypy, pytest-smoke

docs(story): create story 2.3 — Implement Data Source Connectors
  _bmad-output/implementation-artifacts/2-3-implement-data-source-connectors.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(epics): approve MVP sources, defer BartTorvik & Warren Nolan to post-MVP
  _bmad-output/planning-artifacts/epics.md
Due: none

feat(ingest): define Connector ABC and exception hierarchy
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src/ncaa_eval/ingest/connectors/__init__.py
  src/ncaa_eval/ingest/connectors/base.py
  tests/unit/test_connector_base.py
Due: mypy, pytest-smoke

feat(ingest): implement KaggleConnector with CSV parsing and tests
  src/ncaa_eval/ingest/connectors/kaggle.py
  tests/fixtures/kaggle/MNCAATourneyCompactResults.csv
  tests/fixtures/kaggle/MRegularSeasonCompactResults.csv
  tests/fixtures/kaggle/MSeasons.csv
  tests/fixtures/kaggle/MTeams.csv
  tests/unit/test_kaggle_connector.py
Due: mypy, pytest-smoke

feat(ingest): implement EspnConnector with cbbpy integration and tests
  src/ncaa_eval/ingest/connectors/espn.py
  tests/unit/test_espn_connector.py
Due: mypy, pytest-smoke

feat(ingest): wire up connector exports and add kaggle/cbbpy deps
  poetry.lock
  pyproject.toml
  src/ncaa_eval/ingest/__init__.py
  src/ncaa_eval/ingest/connectors/__init__.py
Due: mypy, pytest-smoke

feat(ingest): fix kaggle mock for mutmut & mark story 2.3 review
  _bmad-output/implementation-artifacts/2-3-implement-data-source-connectors.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  tests/unit/test_kaggle_connector.py
Due: mypy, pytest-smoke

fix(ingest): apply code review fixes for story 2.3
  _bmad-output/implementation-artifacts/2-3-implement-data-source-connectors.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  pyproject.toml
  src/ncaa_eval/ingest/connectors/base.py
  src/ncaa_eval/ingest/connectors/espn.py
  src/ncaa_eval/ingest/connectors/kaggle.py
  tests/unit/test_connector_base.py
  tests/unit/test_espn_connector.py
Due: mypy, pytest-smoke

fix(deps): regenerate poetry.lock after caret-pinning kaggle and cbbpy
  poetry.lock
Due: none

fix(ci): replace PERSONAL_ACCESS_TOKEN with GITHUB_TOKEN in main workflow
  .github/workflows/main-updated.yaml
Due: none

docs(planning): capture poetry lock requirement in template-requirements
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

feat(ingest): implement Kaggle and ESPN data source connectors (Story 2.3) (#12)
  .github/workflows/main-updated.yaml
  _bmad-output/implementation-artifacts/2-3-implement-data-source-connectors.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/template-requirements.md
  poetry.lock
  pyproject.toml
  src/ncaa_eval/ingest/__init__.py
  src/ncaa_eval/ingest/connectors/__init__.py
  src/ncaa_eval/ingest/connectors/base.py
  src/ncaa_eval/ingest/connectors/espn.py
  src/ncaa_eval/ingest/connectors/kaggle.py
  tests/fixtures/kaggle/MNCAATourneyCompactResults.csv
  tests/fixtures/kaggle/MRegularSeasonCompactResults.csv
  tests/fixtures/kaggle/MSeasons.csv
  tests/fixtures/kaggle/MTeams.csv
  tests/unit/test_connector_base.py
  tests/unit/test_espn_connector.py
  tests/unit/test_kaggle_connector.py
Due: mypy, pytest-smoke

docs(story): create story 2.4 — Implement Sync CLI & Smart Caching
  _bmad-output/implementation-artifacts/2-4-implement-sync-cli-smart-caching.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

chore(ingest): add typer[all]>=0.15 dependency; update mypy/nox for sync.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: pytest-smoke

feat(ingest): implement SyncEngine with Parquet-level smart caching
  src/ncaa_eval/ingest/__init__.py
  src/ncaa_eval/ingest/sync.py
Due: mypy, pytest-smoke

feat(cli): add sync.py CLI entry point with Typer
  sync.py
Due: pytest-smoke

test(ingest): add integration tests for SyncEngine and sync CLI
  tests/integration/test_sync.py
Due: mypy, pytest-smoke

docs(story): mark story 2.4 complete — set status to review
  _bmad-output/implementation-artifacts/2-4-implement-sync-cli-smart-caching.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

fix(ingest): apply Story 2.4 code review fixes
  _bmad-output/implementation-artifacts/2-4-implement-sync-cli-smart-caching.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  pyproject.toml
  src/ncaa_eval/ingest/connectors/kaggle.py
  src/ncaa_eval/ingest/sync.py
  tests/integration/test_sync.py
Due: mypy, pytest-smoke

chore(deps): sync poetry.lock after typer constraint update
  poetry.lock
Due: none

docs(agents): enforce poetry.lock sync after pyproject.toml changes
  _bmad-output/planning-artifacts/template-requirements.md
  _bmad/bmm/workflows/4-implementation/code-review/instructions.xml
  _bmad/bmm/workflows/4-implementation/dev-story/instructions.xml
Due: none

docs(readme): add Kaggle API authentication setup and usage instructions
  README.md
Due: none

fix(ingest): apply Story 2.4 code review round 2 fixes
  README.md
  _bmad-output/implementation-artifacts/2-4-implement-sync-cli-smart-caching.md
  _bmad-output/planning-artifacts/template-requirements.md
  src/ncaa_eval/ingest/connectors/espn.py
  src/ncaa_eval/ingest/connectors/kaggle.py
  src/ncaa_eval/ingest/sync.py
  tests/fixtures/kaggle/MSeasons.csv
  tests/integration/test_sync.py
Due: mypy, pytest-smoke

Implement Sync CLI & Smart Caching (Story 2.4) (#13)
  README.md
  _bmad-output/implementation-artifacts/2-4-implement-sync-cli-smart-caching.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  _bmad/bmm/workflows/4-implementation/code-review/instructions.xml
  _bmad/bmm/workflows/4-implementation/dev-story/instructions.xml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/ncaa_eval/ingest/__init__.py
  src/ncaa_eval/ingest/connectors/espn.py
  src/ncaa_eval/ingest/connectors/kaggle.py
  src/ncaa_eval/ingest/sync.py
  sync.py
  tests/fixtures/kaggle/MSeasons.csv
  tests/integration/test_sync.py
Due: mypy, pytest-smoke

docs(story): create story 3.1 — Data Quality Audit
  _bmad-output/implementation-artifacts/3-1-data-quality-audit.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

chore(deps): add jupyterlab>=4.0,<5 as dev dependency (Story 3.1 Task 1)
  poetry.lock
  pyproject.toml
Due: none

docs(eda): data quality audit notebook with executed outputs (Story 3.1)
  _bmad-output/implementation-artifacts/sprint-status.yaml
  notebooks/eda/01_data_quality_audit.ipynb
  notebooks/eda/data_quality_findings.md
Due: none

docs(story): mark Story 3.1 complete — status review
  _bmad-output/implementation-artifacts/3-1-data-quality-audit.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none
