Repository dhilgart/NCAA_eval: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-smoke

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

default_stages:
  - commit
  - push

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-vcs-permalinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: debug-statements
      - id: no-commit-to-branch
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key


  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - post-commit
          - push

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint

  # Code Quality: Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff-lint
        args: [--fix]
        types: [python]
      - id: ruff-format
        name: ruff-format
        types: [python]

  # Type Checking: Mypy (local hook so poetry virtualenv is used - required for
  # type-checking tests that import the local ncaa_eval package)
  - repo: local
    hooks:
      - id: mypy
        name: mypy-strict
        entry: poetry run mypy
        args: [--strict, --show-error-codes, --namespace-packages]
        language: system
        types: [python]
        files: ^(src/|tests/)
        pass_filenames: false

  # Fast Tests: Pytest smoke tests
  - repo: local
    hooks:
      - id: pytest-smoke
        name: pytest-smoke
        entry: poetry run pytest -m smoke --tb=short -q
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

fix(dashboard): increase bracket renderer font sizes for readability
  _bmad-output/implementation-artifacts/8-8-dashboard-ux-quick-fixes.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/lib/bracket_renderer.py
  dashboard/pages/2_Presentation.py
Due: pytest-smoke

fix(dashboard): add prominent setup banners on home page
  _bmad-output/implementation-artifacts/8-8-dashboard-ux-quick-fixes.md
  dashboard/pages/home.py
Due: pytest-smoke

fix(dashboard): add Refresh Data button to sidebar
  _bmad-output/implementation-artifacts/8-8-dashboard-ux-quick-fixes.md
  dashboard/app.py
Due: pytest-smoke

fix(dashboard): add breadcrumb navigation to Lab page
  _bmad-output/implementation-artifacts/8-8-dashboard-ux-quick-fixes.md
  dashboard/pages/1_Lab.py
Due: pytest-smoke

fix(dashboard): add data freshness indicator to sidebar
  _bmad-output/implementation-artifacts/8-8-dashboard-ux-quick-fixes.md
  dashboard/app.py
  dashboard/lib/data_loaders.py
  tests/unit/test_leaderboard_page.py
Due: mypy, pytest-smoke

docs(story): mark story 8.8 complete — Dashboard UX Quick Fixes
  _bmad-output/implementation-artifacts/8-8-dashboard-ux-quick-fixes.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

fix(dashboard): code review fixes — filters re-export, tests, ux polish
  _bmad-output/implementation-artifacts/8-8-dashboard-ux-quick-fixes.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/lib/data_loaders.py
  dashboard/lib/filters.py
  dashboard/pages/1_Lab.py
  dashboard/pages/home.py
  tests/unit/test_dashboard_app.py
Due: mypy, pytest-smoke

docs(template): capture Story 8.8 code review learnings
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

fix(dashboard): code review round 2 — rglob scope, home.py refactor, tests
  _bmad-output/implementation-artifacts/8-8-dashboard-ux-quick-fixes.md
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/lib/data_loaders.py
  dashboard/pages/home.py
  tests/unit/test_dashboard_app.py
  tests/unit/test_home_page.py
Due: mypy, pytest-smoke

fix(dashboard): Story 8.8 — Dashboard UX Quick Fixes (#56)
  _bmad-output/implementation-artifacts/8-8-dashboard-ux-quick-fixes.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  dashboard/app.py
  dashboard/lib/bracket_renderer.py
  dashboard/lib/data_loaders.py
  dashboard/lib/filters.py
  dashboard/pages/1_Lab.py
  dashboard/pages/2_Presentation.py
  dashboard/pages/home.py
  tests/unit/test_dashboard_app.py
  tests/unit/test_home_page.py
  tests/unit/test_leaderboard_page.py
Due: mypy, pytest-smoke

deploy: bb4bf8579299d94b8e24621eaf14d949496576fd
  .doctrees/environment.pickle
Due: none

docs(story): create story 8.11 — Fix Testing Documentation Staleness & Marker Gaps
  _bmad-output/implementation-artifacts/8-11-fix-testing-documentation-staleness-marker-gaps.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(testing): Story 8.11 — fix testing documentation staleness & marker gaps
  .github/pull_request_template.md
  _bmad-output/implementation-artifacts/8-11-fix-testing-documentation-staleness-marker-gaps.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  docs/TESTING_STRATEGY.md
  docs/testing/conventions.md
  docs/testing/domain-testing.md
  docs/testing/execution.md
  docs/testing/quality.md
  docs/testing/test-approach-guide.md
  docs/testing/test-purpose-guide.md
  docs/testing/test-scope-guide.md
  poetry.lock
  pyproject.toml
Due: none

docs(testing): Story 8.11 code review — fix missed marker and API name issues
  _bmad-output/implementation-artifacts/8-11-fix-testing-documentation-staleness-marker-gaps.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  docs/testing/conventions.md
  docs/testing/execution.md
  docs/testing/test-approach-guide.md
  docs/testing/test-purpose-guide.md
Due: none

docs(testing): Story 8.11 code review pass 2 — fix smoke budget and check-manifest annotation
  .github/pull_request_template.md
  _bmad-output/implementation-artifacts/8-11-fix-testing-documentation-staleness-marker-gaps.md
  docs/testing/conventions.md
  pyproject.toml
Due: none

docs(story): Story 8.11 — add pyproject.toml marker description learning to template-requirements
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

docs(testing): Story 8.11 — Fix Testing Documentation Staleness & Marker Gaps (#57)
  .github/pull_request_template.md
  _bmad-output/implementation-artifacts/8-11-fix-testing-documentation-staleness-marker-gaps.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/template-requirements.md
  docs/TESTING_STRATEGY.md
  docs/testing/conventions.md
  docs/testing/domain-testing.md
  docs/testing/execution.md
  docs/testing/quality.md
  docs/testing/test-approach-guide.md
  docs/testing/test-purpose-guide.md
  docs/testing/test-scope-guide.md
  poetry.lock
  pyproject.toml
Due: none

deploy: 285ba4c99f3c26012d3b410d3050fd63c0c9d917
  .doctrees/TESTING_STRATEGY.doctree
  .doctrees/environment.pickle
  .doctrees/testing/conventions.doctree
  .doctrees/testing/domain-testing.doctree
  .doctrees/testing/execution.doctree
  .doctrees/testing/quality.doctree
  .doctrees/testing/test-approach-guide.doctree
  .doctrees/testing/test-purpose-guide.doctree
  .doctrees/testing/test-scope-guide.doctree
  TESTING_STRATEGY.html
  _sources/TESTING_STRATEGY.md.txt
  _sources/testing/conventions.md.txt
  _sources/testing/domain-testing.md.txt
  _sources/testing/execution.md.txt
  _sources/testing/quality.md.txt
  _sources/testing/test-approach-guide.md.txt
  _sources/testing/test-purpose-guide.md.txt
  _sources/testing/test-scope-guide.md.txt
  searchindex.js
  testing/conventions.html
  testing/domain-testing.html
  testing/execution.html
  testing/quality.html
  testing/test-approach-guide.html
  testing/test-purpose-guide.html
  testing/test-scope-guide.html
Due: none

docs(story): create story 8.12 — Epics & Backlog Grooming
  _bmad-output/implementation-artifacts/8-12-epics-backlog-grooming-track-all-deferred-items.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(backlog): Story 8.12 — Epics & Backlog Grooming
  _bmad-output/implementation-artifacts/8-12-epics-backlog-grooming-track-all-deferred-items.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  specs/05-architecture-fullstack.md
Due: none

chore(review): Story 8.12 code review — mark done
  _bmad-output/implementation-artifacts/8-12-epics-backlog-grooming-track-all-deferred-items.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

chore(review): Story 8.12 code review — fix stale narrative + template update
  _bmad-output/implementation-artifacts/8-12-epics-backlog-grooming-track-all-deferred-items.md
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

docs(backlog): Story 8.12 — Epics & Backlog Grooming (#58)
  _bmad-output/implementation-artifacts/8-12-epics-backlog-grooming-track-all-deferred-items.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/template-requirements.md
  specs/05-architecture-fullstack.md
Due: none

deploy: 077985cdec494096d9d15f40af5faa8532fee9af
  .doctrees/environment.pickle
Due: none

docs(story): create story 8.13 — Gather PO Direction on Category 1 & 2 Items
  _bmad-output/implementation-artifacts/8-13-gather-po-direction-category-1-2-items.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(story): complete story 8.13 — PO decisions on audit items
  _bmad-output/implementation-artifacts/8-13-gather-po-direction-category-1-2-items.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/po-decision-log-epic8.md
Due: none

docs(review): code review fixes for story 8.13 — PO decision log
  _bmad-output/implementation-artifacts/8-13-gather-po-direction-category-1-2-items.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/po-decision-log-epic8.md
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

docs(review): second code review pass for story 8.13
  _bmad-output/implementation-artifacts/8-13-gather-po-direction-category-1-2-items.md
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/template-requirements.md
Due: none

docs(review): set story 8.13 to review — PO decisions pending confirmation
  _bmad-output/implementation-artifacts/8-13-gather-po-direction-category-1-2-items.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

Enhance PO decision log with detailed decision framework for each item
  _bmad-output/planning-artifacts/po-decision-log-epic8.md
Due: none

Enhance PO decision log with detailed decision framework for each item (#61)
  _bmad-output/planning-artifacts/po-decision-log-epic8.md
Due: none

docs(review): finalize story 8.13 — PO decisions confirmed, epic restructure committed
  _bmad-output/implementation-artifacts/8-13-gather-po-direction-category-1-2-items.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/po-decision-log-epic8.md
  _bmad-output/planning-artifacts/template-requirements.md
  specs/ensemble-architecture.md
Due: none

docs(story): Story 8.13 — Gather PO Direction on Category 1 & 2 Audit Items (#60)
  _bmad-output/implementation-artifacts/8-13-gather-po-direction-category-1-2-items.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  _bmad-output/planning-artifacts/po-decision-log-epic8.md
  _bmad-output/planning-artifacts/template-requirements.md
  specs/ensemble-architecture.md
Due: none

deploy: b150f5b5d63992365d85649a2338689d13946f2d
  .doctrees/environment.pickle
Due: none

docs(story): create story 9.1 — Kaggle Submission Export
  _bmad-output/implementation-artifacts/9-1-kaggle-submission-export.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(evaluation): add Kaggle submission CSV export function
  src/ncaa_eval/evaluation/__init__.py
  src/ncaa_eval/evaluation/kaggle_export.py
  tests/unit/test_kaggle_export.py
Due: mypy, pytest-smoke

feat(cli): add Kaggle submission export command
  src/ncaa_eval/cli/export.py
  src/ncaa_eval/cli/main.py
  tests/unit/test_cli_export.py
Due: mypy, pytest-smoke

feat(dashboard): add Kaggle submission download button
  dashboard/pages/2_Presentation.py
Due: pytest-smoke

docs(story): complete story 9.1 — Kaggle Submission Export
  _bmad-output/implementation-artifacts/9-1-kaggle-submission-export.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

fix(evaluation): code review fixes — DRY, stdout pipe-safety, validation
  _bmad-output/implementation-artifacts/9-1-kaggle-submission-export.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  dashboard/pages/2_Presentation.py
  src/ncaa_eval/cli/export.py
  src/ncaa_eval/evaluation/__init__.py
  src/ncaa_eval/evaluation/kaggle_export.py
  tests/unit/test_kaggle_export.py
Due: mypy, pytest-smoke
